<!DOCTYPE html>
<html lang="en">
<head>
    <title>Salt client</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="../Styles/menu.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div id="terminal" class="">
                <ul id="list" class="col s12">
                    <li>Thank you for using Salt.</li>
                </ul>
            </div>
        </div>
        
        <div id="console" class="">
            <div class="row">
                <form id="input" class="col s12 m8">
                        <input type="text" id="command" class="" autofocus>
                </form>
                <div class="center-align">
                    <button type="submit" id="subm" class="waves-effect waves-light btn red col s12 m4">Send</button>
                </div>
            </div>        
        </div>

        <div id="recorder">
            <div class="row">
                <div class="center-align">
                    <button id="strt" class="waves-effect waves-light red btn">Start Recording</button>
                </div>
                <div class="center-align">
                    <button id="stp" class="waves-effect waves-light red btn">Stop Recording</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="../Scripts/script.js"></script>
    
</body>
</html>